RestWebservices/WebContent/schema/student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/student"
	xmlns:tns="http://www.example.org/student" elementFormDefault="qualified">

    <element name="Student">
    <complexType>
    <sequence>
    		<element name="name" type="string"></element>
    		<element name="id" type="int"></element>
    		<element name="department" type="string"></element>
    		<element name="year" type="string"></element>
    	</sequence>
    </complexType></element>
</schema>